body {
  background-color: dimgray;
}


button{
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 20px;
	left : 500px;
}

#chatBox{
	height: 50px;
	width: 450px;
	position: absolute;
	bottom: 20px;

}

h5 {
  color: white;
  font-family: "Lucida Console", monospace;
}
#chat {
}
